body{
    padding: 200px;
}
.container{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    overflow: hidden;
}
.container img{
    height: 240px;
    transition: all ease 1s;
}
.container:hover img{
    scale: 1.2;
}