.page{
    height: 100vh;
    width: 10vw;
}
body::-webkit-scrollbar
{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#E1306C,#FD1D1D,#F56040,#F77737);
}